body,
ul {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.box-container {
  display: flex;
  gap: 7px; /* Gap between boxes */
  padding: 3px; /* Padding around the container */
  box-sizing: border-box;
}

.box {
  background-color: #f2f2f2;
  text-align: center;
  padding: 8px;
  box-sizing: border-box;
  font-size: 20px;
  max-width: 25%;
  min-width: 150px;
}
.box-container1 {
  display: flex;
}
.cover {
  margin: 1px;
  padding: 1px;
  box-sizing: border-box;
}
